.resume{
    font-family: 'Italiana', sans-serif;
    text-align: center;
}

    

.flexContainer{
    display: flex;
    background-color: #F1E9DF;
    flex-direction: column;
    

}

    .h2{
        width: 10%;
        font-family: 'Italiana', sans-serif;}
        
  .p1{
    text-wrap: balance;
    }
        

    
    
    .h3{
        width: 10%;
        font-family: 'Italiana', sans-serif;}
        
        .p2{
            text-wrap: balance;
        }
        

    

    .h4{
        width: 10%;
        font-family: 'Italiana', sans-serif;}
        
     .p3{
            text-wrap: pretty;
        }
        

    

    .projects{
        font-family: 'Italiana', sans-serif;
        text-align: center;
        background-color: #F1E9DF;
        display: grid;
    
    }
    .workGrid{
        display: grid;
    }

    .gridContainer{
        grid-template-columns: 33% 33% 33%;

    }
    
    @media only screen and (max-width: 600px){
        #ForbesHouseRedesign{
            grid-template-columns: 33% 33% 33%;
            display: grid;

        }

    }
