.flexContainer{
    display: flex;
    background-color: #F1E9DF;
    

}
    h1{
        font-family: 'Italiana', sans-serif;
        text-align: center;

    }

    h2{
        width: 10%;
        font-family: 'Italiana', sans-serif;
        text-align: right;
        p1{
            text-wrap: balance;
        }
        

    }
    
    h3{
        width: 10%;
        font-family: 'Italiana', sans-serif;
        text-align: right;
        p2{
            text-wrap: balance;
        }
        

    }

    h4{
        width: 90%;
        font-family: 'Italiana', sans-serif;
        text-align: left;
        p3{
            text-wrap: pretty;
        }
        

    }